
<!DOCTYPE html>
<html>
  <head>
    <title>RailsPrductReviewer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body class="container">

  <h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

   
  </body>
</html>